<%= form_with(model: wiki, local: true) do |form| %>
  <% if wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

<% if current_user.admin? || current_user.premium? %>
  <div class="field">
    <%= form.label :private %>
    <%= form.check_box :private %>
  </div>
<% end %>

<% if wiki.persisted? %>
  <h2>Remove collaborators</h2>
  <h4>Check tickbox to remove Collaborators</h4>
  <%= form.fields_for :collaborations do |collaboration_form| %>
      <%= collaboration_form.object.user.username %>
      <%= collaboration_form.check_box :_destroy %><br>
  <% end %><br>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<hr>

<% if wiki.persisted? %>
<h2>Add a Collaborator</h2>
<%= form_with(model: wiki, local: true) do |form| %>
  <%= form.fields_for :collaborations, wiki.collaborations.build do |collaboration_form| %>
      <%= collaboration_form.select :user_id, options_for_select(User.other_users(current_user: current_user).collect{|user| [user.username, user.id]}) %>
  <% end %>
  <br><br>
  <div class="actions">
    <%= form.submit "Add Collaborator" %>
  </div>
<% end %>
<% end %>

